@model SpongeSolutions.ServicoDireto.Model.AccountSystem.ChangePasswordModel
@{
    ViewBag.Title = SpongeSolutions.ServicoDireto.Internationalization.Label.Account_Change_Password_Header;
}
<div class="container">
    <div class="form-header process">
        <h3>@SpongeSolutions.ServicoDireto.Internationalization.Label.Account_Change_Password_Header</h3>
        <p>@SpongeSolutions.ServicoDireto.Internationalization.Label.Recover_Password_Help</p>
    </div>
    @if (this.TempData["Message"] != null)
    {
        <div class="success">@this.TempData["Message"]</div>
    }
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true, SpongeSolutions.ServicoDireto.Internationalization.Label.General_ValidationSummary)
        <fieldset>
            <legend>@SpongeSolutions.ServicoDireto.Internationalization.Label.Account_Change_Password_Header</legend>
            @if (Model.ActivateCode == Guid.Empty)
            {
                <div>
                    @Html.SpongeTextBoxFor(p => p.OldPassword)
                </div>
            }
            else
            {
                @*@Html.Hidden("ActivateCode", (string)this.ViewBag.ActivateCode)*@
                @Html.HiddenFor(p => p.ActivateCode)
            }
            <div>
                @Html.SpongeTextBoxFor(p => p.NewPassword)
            </div>
            <div>
                @Html.SpongeTextBoxFor(p => p.ConfirmPassword)
            </div>
        </fieldset>
        <div class="toolbar span-20">
            <ul>
                <li>
                    <input type="submit" value="@SpongeSolutions.ServicoDireto.Internationalization.Label.Change" class="save" />
                </li>
                <li>
                    <input type="button" value="@SpongeSolutions.ServicoDireto.Internationalization.Label.Cancel" class="cancel" onclick="location.href='@Url.Action("/index", "home")'"/>
                </li>
            </ul>
        </div>
    }
</div>
