@using SpongeSolutions.ServicoDireto.Model;
@model HierarchyStructureCulture
@{
    ViewBag.Title = "HierarchyStructureCulture";
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}
<div class="span-6">
    @*<img src="@String.Concat(SpongeSolutions.ServicoDireto.Admin.SiteContext.LayoutPath, this.Model.IconPath)" title="@this.Model.CultureName" alt="@this.Model.CultureName"/>&nbsp;@Html.Label(this.Model.CultureName):<br />*@
    @Html.LabelFor(model => model.Description)<br/>
    @Html.TextBox(String.Format("[{0}].Description", (string)Convert.ToString(this.ViewBag.Index)), this.Model.Description)<br/>
    @Html.ValidationMessage(String.Format("[{0}].Description", (string)Convert.ToString(this.ViewBag.Index)))
    @Html.Hidden(String.Format("[{0}].IDCulture", (string)Convert.ToString(this.ViewBag.Index)), this.Model.IDCulture)
</div>

