@using SpongeSolutions.ServicoDireto.Model;
@using SpongeSolutions.Core.Translation;
@model SpongeSolutions.ServicoDireto.Model.AttributeExtended
@{
    ViewBag.Title = SpongeSolutions.ServicoDireto.Internationalization.Label.Attribute_Manage_Title;
    Layout = "~/Views/Shared/_LayoutFull.cshtml";
    var cultures = (IList<CultureExtended>)this.ViewData["cultures"];
}
<script language="javascript" type="text/javascript">
    $(function () {
        NBN.Helper.ApplyMask();
        $("#tabs").tabs();
    });
</script>
<div class="container">
    @*    <div class="form-header process">
            <h3>@SpongeSolutions.ServicoDireto.Internationalization.Label.Attribute_Manage_Title</h3>
            <p>@SpongeSolutions.ServicoDireto.Internationalization.Label.Attribute_Manage_Help</p>
        </div>*@
    @if (this.TempData["Message"] != null)
    {
        <div class="success">@this.TempData["Message"]</div>
    }
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">@SpongeSolutions.ServicoDireto.Internationalization.Label.General</a></li>
        </ul>
        <div id="tabs-1">
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true, SpongeSolutions.ServicoDireto.Internationalization.Message.ValidationSummary)
                @Html.HiddenFor(model => model.IDAttribute)
                <fieldset>
                    <legend>@SpongeSolutions.ServicoDireto.Internationalization.Label.Attribute_Manage_Title</legend>
                    <div class="span-21">
                        <div>
                            @{
                                for (int i = 0; i < cultures.Count; i++)
                                {
                                    Html.RenderAction("create", "attributeculture", new { idCulture = cultures[i].IDCulture, idAttribute = (this.Model != null && this.Model.IDAttribute.HasValue) ? this.Model.IDAttribute.Value.ToString() : "", index = i });
                                }
                            }
                            <hr />
                            <div class="span-21">
                                @*@Html.FindTextBoxFor(model => model.IDIcon, model => model.IconName, SpongeSolutions.ServicoDireto.Internationalization.Label.Icon_Search_Title, "icon", "index", "{ windowMode : true, status : 1 }")*@
                                @Html.SpongeAutoCompleteFor(p => p.IDIcon, p => p.IconName, Url.Action("autocomplete", "icon"), new { @class = "xxbig" })
                            </div>    
                            <div class="span-21">
                                <div class="span-7">
                                    @Html.SpongeTextBoxFor(model => model.Index, new { xmask = "integer" })
                                </div>
                                <div class="span-7">
                                    @Html.SpongeTextBoxFor(model => model.EditMask)
                                </div>
                                <div class="span-7">
                                    @Html.SpongeTextBoxFor(model => model.DisplayMask)
                                </div>
                            </div>
                            <div class="span-21">
                                <div class="span-7">
                                    @Html.SpongeTextBoxFor(model => model.Acronym)
                                </div>
                                <div class="span-7">
                                    @Html.SpongeTextBoxFor(model => model.MinValue, new { xmask = "integer" })
                                </div>
                                <div class="span-7">
                                    @Html.SpongeTextBoxFor(model => model.MaxValue, new { xmask = "integer" })
                                </div>
                            </div>
                            <div class="span-21">
                                <div class="span-7">
                                    @Html.LabelFor(model => model.Required)<br />
                                    @Html.CheckBoxFor(model => model.Required)
                                </div>
                            </div>
                        </div>
                        @Html.SpongeEditorForBaseEntity((this.Model != null && this.Model.IDAttribute.HasValue))
                    </div>
                </fieldset>
                <div class="toolbar span-20">
                    <ul>
                        <li>
                            <input type="button" value="@SpongeSolutions.ServicoDireto.Internationalization.Label.New" class="add" onclick="location.href='@Url.Action("create", new { id = "" })'" />
                        </li>
                        <li>
                            <input type="submit" value="@SpongeSolutions.ServicoDireto.Internationalization.Label.Save" class="save" />
                        </li>
                        <li>
                            <input type="button" value="@SpongeSolutions.ServicoDireto.Internationalization.Label.Back" class="back" onclick="location.href='@Url.Action("/index")'" />
                        </li>
                    </ul>
                </div>
                                }
        </div>
    </div>
</div>
