@using SpongeSolutions.ServicoDireto.Model;
@using SpongeSolutions.Core.Translation;
@model Country
@{
    ViewBag.Title = @SpongeSolutions.ServicoDireto.Internationalization.Label.Country_Manage_Title;
    Layout = "~/Views/Shared/_LayoutFull.cshtml";
}
<script language="javascript" type="text/javascript">
    $(function () {
        NBN.Helper.ApplyMask();
        $("#tabs").tabs();
    });
</script>
<div class="container">
    @*<div class="form-header process">
        <h3>@SpongeSolutions.ServicoDireto.Internationalization.Label.Country_Manage_Title</h3>
        <p>@SpongeSolutions.ServicoDireto.Internationalization.Label.Country_Manage_Help</p>
    </div>*@
    @if (this.TempData["Message"] != null)
    {
        <div class="success">@this.TempData["Message"]</div>
    }
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">@SpongeSolutions.ServicoDireto.Internationalization.Label.General</a></li>
        </ul>
        <div id="tabs-1">
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true, SpongeSolutions.ServicoDireto.Internationalization.Message.ValidationSummary)
                <fieldset>
                    <legend>@SpongeSolutions.ServicoDireto.Internationalization.Label.Country_Manage_Title</legend>
                    <div>
                        @Html.LabelFor(model => model.IDCountry):
                        <br />
                        @Html.TextBoxFor(model => model.IDCountry)
                        @Html.ValidationMessageFor(model => model.IDCountry)
                    </div>
                    <div>
                        @Html.LabelFor(model => model.Name):
                        <br />
                        @Html.TextBoxFor(model => model.Name)
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                    @Html.SpongeEditorForBaseEntity((this.Model != null && !string.IsNullOrEmpty(this.Model.IDCountry)))                    
                </fieldset>    
                <div class="toolbar span-20">
                    <ul>
                        <li>
                            <input type="button" value="@SpongeSolutions.ServicoDireto.Internationalization.Label.New" class="add" onclick="location.href='@Url.Action("create", new { id = "" })'" />
                        </li>
                        <li>
                            <input type="submit" value="@SpongeSolutions.ServicoDireto.Internationalization.Label.Save" class="save" />
                        </li>
                        <li>
                            <input type="button" value="@SpongeSolutions.ServicoDireto.Internationalization.Label.Back" class="back" onclick="location.href='@Url.Action("/index")'"/>
                        </li>
                    </ul>
                </div>        
            }
        </div>
    </div>
</div>
